{% extends 'demo/base.html' %}

{% block content %}


 <div class="full" style="background-image:url('static/img/hm.jpg')">
 <div class="row">

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div style="background:transparent !important;" class="jumbotron">
      <br>
      <div class="transparent">
        <h2 align='center'><font color='navy'>Hinnasto</font></h2>
        <p align='center'><br>Koivuklapi:<br>
63eur / heittomotti<br>
<br>
Kuljetus:<br>
35-?? eur / tilaus kuljetusmatkan mukaan<br>
<br>
</p>
      </div>
      <div class="transparent">
        <p align='center'><b><font color='red'>Nyt Syystarjous !<br>51,70 eur / heittomotti</font><font color='navy'> kotimaista koivuklapia !</font></b></p>
      </div>
      <div class="transparent">
        <h2 align='center'><font color='navy'>Kuljetus tarjous nyt Uudellamaalla</font></h2>
        <p align='center'>9,90eur tai 15,90eur / heittomotti riippuen etäisyydestä Sipoosta<br>Pyydä tarjous yli kolmen heittomotin kuljetuksista</p>
      </div>
      <div align="center">
        <picture><img text-align='center' src="static/img/suomenlippu.jpg" alt="Smiley face" height = "40%" width = "60%"></picture>
        <h2 align='center'><font color='navy'>Heittomotti on 100% kotimainen klapifirma uudella maalla</font></h2>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
</div> <!-- /container -->
</div>
</div>
{% endblock content %}
