{% extends 'demo/base.html' %}

{% block content %}


 <div class="full" style="background-image:url('static/img/hm.jpg')">
 <div class="row">

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div style="background:transparent !important;" class="jumbotron">
      <br>
      <div align="center">
        <picture><img text-align='center' src="static/img/raaka-aine-kuljetus.jpg" alt="Smiley face" height = "40%" width = "60%"></picture>
      </div>
      <br>
      <div align="center">
        <picture><img text-align='center' src="static/img/kirves.jpg" alt="Smiley face" height = "40%" width = "60%"></picture>
      </div>
      <br>
      <div align="center">
        <picture><img text-align='center' src="static/img/halkaisu-8osaan.jpg" alt="Smiley face" height = "40%" width = "60%"></picture>
      </div>
      <br>
      <div align="center">
        <picture><img text-align='center' src="static/img/klapikone.jpg" alt="Smiley face" height = "40%" width = "60%"></picture>
      </div>
      <br>
      <div align="center">
        <picture><img text-align='center' src="static/img/raaka-aineen-purku.jpg" alt="Smiley face" height = "40%" width = "60%"></picture>
      </div>
      <br>
      <div align="center">
        <picture><img text-align='center' src="static/img/raaka-aine.jpg" alt="Smiley face" height = "40%" width = "60%"></picture>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
</div> <!-- /container -->
</div>
</div>
{% endblock content %}
