{% extends 'demo/base.html' %}

{% block content %}


 <div class="full" style="background-image:url('static/img/hm.jpg')">
 <div class="row">

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div style="background:transparent !important;" class="jumbotron">
      <br>
      <div class="transparent">
        <h2 align='center'><font color='navy'>Klapinteko palvelu</font></h2>
        <p align='center'>
     - <font color="red">Kaatoiko Kiira myrsky puun pihallesi</font> ja haluat siitä klapeja?<br>
      - Onko tontillasi polttorankaa ja haluat niistä klapeja?<br>
      <font color="red">Heittomotti auttaa!</font><br>
<br>
      Pyydä paikalle heittomotinklapipalvelu<br>
      - Teemme puusi klapeiksi omalla kotipihallasi<br>
      - Klapit tehdään tehokkaalla pilkemaster<br>
        evo 36 klapikoneella joka tulee paikalle<br>
        henkilöauton perässä<br>
</p>
      </div>
      <div align="center">
        <picture><img text-align='center' src="static/img/klapikone.jpg" alt="Smiley face" height = "40%" width = "60%"></picture>
        <h2 align='center'><font color='navy'>Heittomotti on 100% kotimainen klapifirma uudella maalla</font></h2>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
</div> <!-- /container -->
</div>
</div>
{% endblock content %}

