{% extends 'demo/base.html' %}

{% block content %}


 <div class="full" style="background-image:url('static/img/hm.jpg')">
 <div class="row">

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div style="background:transparent !important;" class="jumbotron">
      <br>
      <div class="transparent">
        <h2 align='center'><font color='navy'>Koivuklapien toimitusalueet Uudella maalla</font></h2>
        <p align='center'>Helsinki<br>Vantaa<br>Tuusula<br>Kerava<br>Järvenpää<br>Sipoo<br>Porvoo<br>Pornainen<br>Espoo</p>
      </div>
      <br>
      <div class="video">
        <object class="embed-responsive-item">
          <video controls="controls">
            <source src="static/vid/Kuljetus7.mp4" />
          </video>
        </object>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
</div> <!-- /container -->
</div>
</div>
{% endblock content %}
