{% extends 'demo/base.html' %}

{% block content %}


 <div class="full" style="background-image:url('static/img/hm.jpg')">
 <div class="row">

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div style="background:transparent !important;" class="jumbotron">
      <br>
      <div class="transparent">
        <h2 align='center'><font color='navy'>Kotimaista koivuklapia</font></h2>
        <p align='center'>-  Raaka-aine on lähialueelta korjattua koivukuitupuuta<br>
-  Kotimaisella työllä tuotettua 33cm koivuklapia<br>
-  Ympäristö ystävällisesti ulkona kuivattua puuta aurinkoisessa ja tuulisessa paikassa<br>
-  Myynnissä nyt Huhti- Toukokuun tuotanto<br>
-  Klapit toimitetaan kippikärryllä asiakkaan pihaan</p>
      </div>
      <div class="video">
        <object class="embed-responsive-item">
          <video controls="controls">
            <source src="static/vid/halkomeri.mp4" />
          </video>
        </object>
      </div>
      <br>
      <div align="center">
        <picture><img text-align='center' src="static/img/suomenlippu.jpg" alt="Smiley face" height = "40%" width = "60%"></picture>
        <h2 align='center'><font color='navy'>Heittomotti on 100% kotimainen klapifirma uudella maalla</font></h2>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
</div> <!-- /container -->
</div>
</div>
{% endblock content %}
