{% extends 'demo/base.html' %}

{% block content %}


 <div class="full" style="background-image:url('static/img/hm.jpg')">
 <div class="row">

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div style="background:transparent !important;" class="jumbotron">
      <br>
      <div class="transparent">
        <h2 align='center'><font color='navy'>Yhteystiedot</font></h2>
        <p align='center'><br>SÄHKÖPOSTI:<br>
          myynti@heittomotti.fi<br>
          <br>
          PUHELIN:<br>
          045 – 787 17 115<br>
          arkisin klo 15:00 – 20:00<br>
          viikonloppuisin klo 08:00 – 20:00<br>
          <br>
          Y-tunnus<br>
          2815810-9
        </p>
      </div>
      <div align="center">
        <picture><img text-align='center' src="static/img/suomenlippu.jpg" alt="Smiley face" height = "40%" width = "60%"></picture>
        <h2 align='center'><font color='navy'>Heittomotti on 100% kotimainen klapifirma uudella maalla</font></h2>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
</div> <!-- /container -->
</div>
</div>
{% endblock content %}
